streamlit==1.46.1
pandas==2.3.0
numpy==2.3.1
scikit-learn==1.7.0
sentence-transformers==5.0.0
transformers==4.53.0
torch>=2.3.0
plotly==6.2.0
langchain==0.3.26
langchain-community==0.3.27
accelerate==1.8.1
sqlite-utils==3.38
python-dotenv==1.1.1
